body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28231d;
}

h {
    font-size: 128px;
    justify-content: center;
    align-items: center;
    color: #dfdce3;
    border-radius: 25px;
    background-color:#565656;
    margin: 50px;
    padding-left: 85px;
    padding-right: 85px;
}
#container {
    display: flex;
    flex-direction: column;
    height: 768px;
    width: 768px;
    background-color: #dfdce3;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    /* width: 1024px;
    height:64px; */
    flex-grow: 1;
}

.box {
    display: flex;
    flex-direction: row;
    /* width: 64px;
    height: 64px; */
    border: 0.5px solid black;
    flex-grow: 1;
}

.box:hover {
    background-color: gray;
}

.mySlider {
    width: 500px;
}
.sliderContainer {
    display: flex;
    flex-direction: row;
}

.sliderContainer2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
}

span {
    margin-top: auto;
    padding: 5px;
    border-radius: 5px ;
    background-color: #dfdce3;
}

.userinputContainer { 
    padding: 16px;
}

.biggerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a9a9a9;
    padding: 50px;
    border-radius: 25px;
    justify-content: space-evenly;
}

#Footer {
    margin-top: 20px;
}