body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h {
    font-size: 128px;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    flex-direction: column;
    height: 1024px;
    width: 1024px;
    background-color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid gray;
}

.row {
    display: flex;
    flex-direction: row;
    /* width: 1024px;
    height:64px; */
    flex-grow: 1;
}

.box {
    display: flex;
    flex-direction: row;
    /* width: 64px;
    height: 64px; */
    border: 0.5px solid black;
    flex-grow: 1;
}

.box:hover {
    background-color: gray;
}

.mySlider {
    width: 500px;
}
.sliderContainer {
    display: flex;
    flex-direction: row;
}

.sliderContainer2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
}

span {
    margin-top: auto;
    padding: 5px;
}

.userinputContainer { 
    padding: 16px;
}